@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
  }
  /* Raleway */
  @font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
  }
  html {
     height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
  }
  .visually-hidden{
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   border: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
  }
  a {
      text-decoration: none;
  }
  .page-header {
      width: 1160px;
      height: 300px;
      margin: 0 auto;
      margin-top: 40px;
      color: #000000;
      background: #FFE17F;
  }
  .navigation {
   display: flex;
   flex-direction: column;
   margin: 0;
}
  .logo {
     top: 17px;
     position: absolute;
     margin-left: 60px;
     
  }
  .search{
     width: 500px;
     margin-left: 60px;
     margin-top: 45px;
     padding: 0px;
  }
  .nav-user {
   display: flex;
   flex-wrap: wrap;
   gap: 61px;
   margin-top: -28px;
   margin-left: 603px;
   width: 497px;
   padding: 0px;
   list-style: none;
  }

  .user-item:first-child {
     flex-grow: 1;
  }

  .user-link {
      color: inherit;
  }
 .catalog-title {
     font-family: "Raleway", sans-serif;
     font-style: normal;
     font-weight: 800;
     font-size: 18px;
     line-height: 21px;
     letter-spacing: 0.2em;
     text-transform: uppercase;
     color: #000000;
     width: 256px;
     margin-left: 60px;
     margin-top: 20px;
 }
 .catalog-title-catalog {
  font-family: "Raleway", sans-serif;
   font-weight: 800;
   font-size: 50px;
   line-height: 50px;
 }
 .dropdown-catalog{
    padding-left: 60px;
    list-style: none;
    background-color: #FFE17F;
 }
 .user-advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 39px;
    list-style: none;
    margin-left: 603px;
    padding: 0px;
    margin-top: -25px;
 }
 .catalog-link {
     color: inherit;
 }
 .user-advantages-link {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: inherit;
 }
 .index-main {
     color: #000000;
 }
 .main-container {
   flex-grow: 1;
 }
 .page-container {
   width: 1440px;
   margin: 0 auto;
 }
 .container {
   width: 1160px;
   margin: 0 auto;
 }
 .main-container-catalog {
   flex-grow: 1;
   background: #F0F0F0;
 }
 .production-slides {
    display: flex;
    margin-bottom: 70px;
    /* margin-top: -170px; */
 }
 .slide-container-item {
    width: 500px;
    padding: 0px;
    margin: 0px;
 }
 .description-title {
    width: 615px;
    margin-top: 135px;
    margin-bottom: 20px;
 }
 .description-text {
    width: 560px;
    margin-bottom: 61px;
 }
 .description-button {
    display: block;
    width: 210px;
    margin-bottom: 39px;
 }
 .slider-pagination {
    display: flex;
    list-style-type: none;
    margin-left: 524px;
    margin-top: -150px;
    padding: 0;
 }
 .slider-pagination-item {
    margin-right: 20px;
 }
 .description {
    width: 600px;
    padding-left: 40px;
 }
 .product-item {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 33px;
 }
 .product-name {
    margin-bottom: 70px;
 }
 .product-name-item {
   font-family: "Raleway", sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 24px;
   letter-spacing: -0.02em;
   width: 180px;
   margin-right: 20px;
 }
 .product-name-container {
    display: inline-flex;
    justify-content: flex-start;
    padding: 0;
    list-style: none;
 }
 .main-user-advantages {
    margin-bottom: 70px;
 }
 .main-user-advantages .container{
    display: flex;
 }
 .main-user-advantages-item {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 280px;
    list-style-type: none;
 }
 .deliveryboy {
    padding-left: 0;
    margin: 0;
    display: flex;
    width: 873px;
    list-style: none;
 }
 .deliveryboy-title {
    padding-left: 116px;
 }
 .deliveryboy-text {
   padding-left: 116px;
 }
 .deliveryboy img {
   padding-left: 110px;
 }
 .delivery {
    display: flex;
    margin-bottom: 70px;
 }    
 .page-container-catalog {
   width: 1440px;
   margin: 0 auto;
   background-color: #F0F0F0;
 }
 .description-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
 }
 .description-text {
     color: #444444;
 }
 .description-button{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    color: inherit;
    background-color: #FFE17F;
 }
 .specifications span {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 30px;
 }
 .specifications-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
 }
 .product-links {
    display: inline-flex;
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
    justify-content: center;
    align-items: center;
 }
 .product-item p {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
 }
 
 .main-user-advantages {
     background-color: #F0F0F0;
 }
 .main-user-advantages-links-link {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: inherit;
    background-color: #FFE17F;
 }
 .curent-advantage {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFE17F;
    background-color: #000000;
 }
 .deliveryboy-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
 }
 .deliveryboy-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
 }

 .delivery-logo  {
     width: 125px;
     height: 100px;
     background-color: #FFE17F;
 }
 .delivery-logo img  {
   padding-top: 35px;
   padding-left: 39px; 
 }
 .delivery-text {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: #F0F0F0;
    width: 1035px;
    margin: 0;
    text-align: center;
    padding-top: 40px;
 }
 .flex-container {
    display: flex;
 }
 .about-company-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-top: 40px;
    margin-bottom: 48px;
 }
 .about-company-text {
     color: #444444;
 }
 .deliver-company {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
 }
 .button-about-company {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: #FFE17F;
    color: inherit;
 }
 .contacts {
    margin-bottom: 80px;
 }
 .contacts-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
 }
 .contacts-text{
     color: #444444;
 }
 .contacts h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
 }
 .contacts address {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
 }
 .contacts address a {
    text-decoration: underline;
    color: #444444;
 }
 .contacts-time-item {
     color: #444444;
 }
 .distribution {
   background-color: #F0F0F0;
 }
 .distribution .container {
     display: flex;
     flex-direction: column;
 }
 .distribution-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
 }
 .distribution-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-top: 64px;
    margin-bottom: 144px;
 }
 .distribution-text {
    margin-top: 74px;
    margin-right: 20px;
 }
 .free {
    margin-bottom: 70px;
 }
 .distribution-text, .free {
     color: #444444;
 }
 .distribution-form {
   display: flex;
   justify-content: space-between;
   padding: 0;
   margin: 0;
   list-style: none;
 }
 .page-footer {
    width: 1440px;
    margin: 0 auto;
     background-color: #444444;
     color: #ffffff;
 }
 .page-footer .container {
    display: flex;  
    margin: 0 auto;
    
 }
 .footer-logo {
    display: block;
    margin-top: 62px;
 }
 .nav-user-item{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 138px;
    margin-bottom: 62px;
 }
 .footer-logcontainer {
    width: 240px;
 }
 .footer-contacts-container {
    margin-left: auto;
 }
 .footer-contacts-container ul {
    list-style: none;
 }
 .nav-user-footer {
    margin: 0 auto;
 }
 .socials {
    padding: 0;
    margin: 0;
 }
 .socials-item {
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   max-width: 200px;
   margin: 0 auto;
   margin-bottom: 62px;
 }
 .socials-link {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    opacity: 0.3;
    margin-right: 15px;
    border-radius: 50%;
 }
 .footer-adress {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
 }
 .nav-user-link a {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    margin-right: 35px;
 }
 .footer-contacts-telephone {
     color: inherit;
     text-decoration: underline;
 }
 .catalog-main {
   background-color: #ffffff;
   color: #000000;
}
.background {
  background-color: #ffffff;
}
.catalog-title-catalog {
   padding: 0;
   margin-left: 60px;
   margin-top: 35px;
   margin-bottom: 16px;
}
.breadcrumbs {
   display: flex;
   list-style-type: none;
   padding: 0;
   margin-left: 60px;
   margin-bottom: 35px;
}
.breadcrumbs-item {
   margin-right: 36px;
}
.breadcrumbs-link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.sorting {
   display: flex;
   text-align: center;
}
.sorting-title {
   margin-left: 40px;
}
.select-control {
   margin: auto;
   width: 160px;
   height: 30px;
   margin-left: 196px;
}
.catalog-products {
  display: flex;
}

.catalog-filter {
  width: 220px;
  margin-left: 200px;
  background-color: #F0F0F0;
}
.catalog-filter-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.catalog-filter-item{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.catalog-filter-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}
.catalog-right-column {
  width: 840px;
  display: flex;
  flex-direction: column;
}
.product-list {
   list-style: none;
}
.product-card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}
.product-card-price {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}
.more {
  display: block;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #EBEBEB;
  margin: 0 auto;
  width: 760px;
  padding-bottom: 18px;
  padding-top: 18px;
  margin-bottom: 44px;
}
.pagination {
   display: flex;
   box-sizing: border-box;
   background-color: #EBEBEB;
   width: 760px;
   margin: 0 auto;
   list-style-type: none;
   padding: 25px;
   justify-content: space-between;
   margin-bottom: 78px;
}
.pagination-prev {
   margin-right: 132px;
}
.pagination-next {
   margin-left: 122px;
}
.color {
  color: #444444;
  opacity: 0.3;
}
.pagination-link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.pagination-button {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
 